*.htm
*.html
*.js
*.gif
*.jpg
*.csv
*.err
*.ref
*.vho
*.xst
*.log
*.lst
*.bld
*.gyd
*.jed
*.mfd
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.rpt
*.svf
*.bit
*.syr
*.vm6
*.xml
*.tmp
*.css
*.xpi
*.mrp
*.ncd
*.ngm
*.par
*.pcf
*.bgn
*.drc
*impactcmd.txt
*_impact.cmd
*_pad.txt
*.xmsgs
*.cdf
*.*_log
*.ptwx
*.stx
*.twr
*.twx
*.unroutes
*.map
*.xrpt
